<section *ngIf="animalDetails">
  <button (click)="buttonBack()" mat-button mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
  <div class="flex-center">
    <div> <ul>
      <li>{{animalDetails.name}}</li>
      <li>Gender: {{animalDetails.gender}}</li>
      <li>Age: {{animalDetails.age}}</li>
      <li>Breed: {{animalDetails.breed}}</li>
      <li>Address: {{animalDetails.address}}</li>
      <li>Country: {{animalDetails.country}}</li>
      <li>Day Of Birth: {{animalDetails.dayOfBirthd}}</li>
      <li>Type of animal: {{animalDetails.type}}</li>
      <li>
        <button [disabled]="!this.animalDetails.avaliable" (click)="ChoseYourAnimal()"
                mat-button  mat-flat-button color="primary">on Hold</button>
      </li>
      <li>
        <button [disabled]="this.animalDetails.avaliable"  (click)="ChoseYourAnimal()"
                mat-button  mat-flat-button color="primary">Adoubt Me</button>
      </li>
    </ul>
    </div>
    <div>
      <img src="{{animalDetails.img}}" alt="animal img">
    </div>
  </div>
  <div>
    <p>{{animalDetails.description}}</p>

  </div>
</section>
